name: BuildAndTest

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'
  schedule:
    - cron: "0 2 * * 0" # Weekly on Sundays at 02:00

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v4
      - run: pip install cpplint
      - uses: actions/checkout@v3
      - run: .tools/cpplint.bash

  build_and_test:
    needs: lint
    strategy:
      fail-fast: false # 他のjobが失敗してもキャンセルしない
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04]
    runs-on: ${{ matrix.os}}
    steps:
      - name: Install Dynamixel SDK
        run: |
          cd ..
          git clone https://github.com/ROBOTIS-GIT/DynamixelSDK.git
          cd DynamixelSDK/c++/build/linux64
          make
          sudo make install
      - name: Install GoogleTest
        run: |
          cd ..
          curl -OL https://github.com/google/googletest/archive/release-1.11.0.tar.gz
          tar -xvf release-1.11.0.tar.gz
          mkdir googletest-release-1.11.0/build
          cd googletest-release-1.11.0/build
          cmake ..
          sudo make install
      - name: Install dependencies
        run: sudo apt install libyaml-cpp-dev libeigen3-dev
      - uses: actions/checkout@v3
      - name: Build and insall library
        run: ./rt_manipulators_lib/build_install_library.bash
      - name: Build Samples
        run: |
          ./samples/samples01/build_samples.bash
          ./samples/samples02/build_samples.bash
          ./samples/samples03/build_samples.bash
      - name: Test library
        run: ./rt_manipulators_lib/run_test_library.bash
      - name: Test Samples
        run: ./samples/samples03/run_test.bash
